.btn {
    padding: 5px 40px;
    font-size: 1.2rem;
    font-family: $font;
    color: #fff;
    background-color: $color-button-primary;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
        background-color: $color-button-secondary;
   }
}
