$color-primary: #212121;
$color-secondary: #444444;
$color-dark: #000000;
$color-border-primary: #32fa64;
$color-text-primary: #667580;
$color-text-secondary: #444444;
$color-link: #a64dff;
$color-button-primary: #a64dff;
$color-button-secondary: #9429ff;