@import '@/assets/scss/_font.scss';
@import '@/assets/scss/_colors.scss';
@import '@/assets/scss/_buttons.scss';
@import '@/assets/scss/_responsividade.scss';


.footer {
    background-color: $color-dark;
    p {
        padding: 30px;
        text-align: center;
        font-size: 1.2rem;
        color: #fff;
    }
    a {
        color: #32fa64;
        text-decoration: none;
    }
}