@import '@/assets/scss/_font.scss';
@import '@/assets/scss/_colors.scss';
@import '@/assets/scss/_buttons.scss';
@import '@/assets/scss/_responsividade.scss';


.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
    text-align: center;
    font-family: $font;
    font-size: 1.2rem;
    max-width: 300px;
    color: $color-text-primary;
    @include device(desktop) {
        width: 600px;            
    }
    .form__label {
        margin-bottom: 1rem;
    }
    .form__input {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
        background: none;
        border: none;
        border-bottom: 1px solid $color-button-primary;
        transition: all .3s ease;
        padding-bottom: 5px;
        &:hover, &:focus {
            border-bottom: 1px solid $color-border-primary;
        }
    }
}

.resultado {
    margin-bottom: 30px;    
    text-align: center;
    font-family: $font;
    color: #32fa64;
    @include device(desktop) {
        margin-bottom: 0;            
    }
    .resultado__title {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .resultado__valor {
        font-size: 2.5rem;
        margin-top: 30px;
    }
}