@import '@/assets/scss/_font.scss';
@import '@/assets/scss/_colors.scss';
@import '@/assets/scss/_buttons.scss';

.social {
    width: 20%;
    .social__list {
        border: 1px solid yellow;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .social__list__item i {
            color: $color-button-primary;
            font-size: 2.5rem;
            transition: all .3s ease;
        }
        .social__list__item i:hover {
            color: $color-button-primary;
            font-size: 2.5rem;
        }
    }
}
