@import '@/assets/scss/_font.scss';
@import '@/assets/scss/_colors.scss';
@import '@/assets/scss/_buttons.scss';
@import '@/assets/scss/_responsividade.scss';

.social {
    max-width: 200px;
    margin: 50px auto;
    @include device(desktop) {
        width: 200px;
        margin-top: 90px;
    }
    .social__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .social__list__item i {
            color: $color-button-primary;
            font-size: 2rem;
            transition: all .3s ease;
        }
        .social__list__item i:hover {
            color: $color-button-secondary;
        }
    }
}
