// Gerais
@import '@/assets/scss/_reset.scss';
@import '@/components/template/logo.scss';
@import '@/components/template/social.scss';
@import '@/components/template/formulario.scss';


.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}